<h1>Create a new Upvote</h1>


<%= form_for(@upvote) do |f| %>
  <div>
    <%= f.label :user_id %>
  </div>
  <div>
    <%#= f.text_field :user_id %>
    <input type="text" name="upvote[user_id]" id="upvote_user_id" />
  </div>

  <div>
    <%= f.label :item_id %>
  </div>
  <div>
    <!-- receate the text field below in pure html -->
    <input type="text" name="upvote[item_id]" id="upvote_item_id" />
    <%#= f.text_field :item_id %>
  </div>

  <div>
    <%#= f.submit %>
    <input type="submit" value="Create Upvote">
  </div>
<% end %>






<%#= form_tag "/upvotes" do %>
<!--   <div>
    <label for="user_id">user_id</label>
  </div>
  <div>
    <input id="user_id" type="text" name="user_id">
  </div>


  <div>
    <label for="item_id">item_id</label>
  </div>
  <div>
    <input id="item_id" type="text" name="item_id">
  </div>

  <div>
    <input type="submit">
  </div> -->
<%# end %>



<!-- <form action="/upvotes" method="post">
  <div>
    <label for="user_id">user_id</label>
  </div>
  <div>
    <input id="user_id" type="text" name="user_id">
  </div>


  <div>
    <label for="item_id">item_id</label>
  </div>
  <div>
    <input id="item_id" type="text" name="item_id">
  </div>

  <div>
    <input type="submit">
  </div>
</form>
 -->
