<h1>User #<%= @user.id %></h1>

<div>
  Email: <%= @user.email %>
</div>

<!-- Create a domain model that will let users have followers -->


<!-- Relationship -->
<!-- follower_id:integer -->
<!-- followed_id:integer -->
